header {
  @apply font-openSans text-white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 52px;
  overflow-x: clip;

  @media screen and (max-width: 768px) {
    padding: 16px 20px;
  }

  @media screen and (max-width: 375px) {
    padding: 16px 10px;
  }

  .logo {
    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  .menu {
    width: max-content;
    height: max-content;

    @media screen and (max-width: 768px) {
      display: none !important;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 48px;
      width: max-content;
      list-style: none;

      li {
        a {
          font-weight: 300;
          font-size: 14px;
        }
      }
    }
  }

  .menu-lang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    position: relative;

    @media screen and (max-width: 768px) {
      display: none !important;
    }

    &::before {
      border: 1px solid;
      @apply border-grey-50/30;
      content: '';
      width: 230px;
      height: 230px;
      border-radius: 99999px;
      position: absolute;
      top: -80px;
      right: -100px;
    }

    p {
      &.is-selected {
        text-decoration: underline;
      }
    }
  }

  .menu-burger {
    display: none;

    @media screen and (max-width: 768px) {
      display: flex;
      position: relative;

      svg {
        width: 45px;
        height: 45px;
      }

      &::before {
        border: 1px solid;
        @apply border-grey-50/30;
        content: '';
        width: 200px;
        height: 200px;
        border-radius: 99999px;
        position: absolute;
        top: -80px;
        right: -80px;
      }
    }
  }
}
