.about {
    padding: 1rem 2rem;
    color: white;
    display: flex;
  }
  
  .about-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .about-content {
    flex: 1;
    min-width: 320px;
  }

  .about-text{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
  
  .about-text h2 {
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    color: white;
  }
  
  .about-text p {
    font-size: 1.4rem;
    color: #ccc;
    line-height: 1.6;
    text-align: left;;
    text-wrap: wrap;
  }

  .lang-container-about {
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 1;
  }

  .lang-circle-about {
    position: absolute;
    top: -79px;
    right: -535px;
    width: 890px;
    height: 890px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 0;
  }
  
  .about-tags {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .tag-block {
    background-color: #111;
    border: 1px solid #333;
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
  }
  
  .tag-block:hover {
    transform: translateY(-4px);
  }
  
  .tag-block.front {
    background-color: #f9f9f9;
    color: #111;
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: none;
    box-shadow: none;
  }
  
  .tag-block.front h3 {
    color: #111;
  }
  
  .tag-block.front p {
    color: #111;
  }
  
  .tag-block h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .tag-block p {
    font-size: 0.95rem;
    color: #bbb;
    margin: 0;
  }
  
  .about-photo {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    margin-left: auto;
    align-items: center;
    margin-right: 11rem;
    z-index: 2;
  }
  
  .about-photo img {
    width: 465px;
    height: 580px;
    object-fit: cover;
    border-radius: 1.5rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  }
  